.about-section {
  padding: 3rem 1rem;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  overflow: hidden;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.left-column, .right-column {
  flex: 1;
  padding: 1rem;
  margin: 0 1rem;
}

.left-column {
  max-width: 600px;
}

.section-title {
  font-size: 2.5rem;
  color: lightgreen;
  margin-bottom: 1rem;
}

.about-text {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.highlight {
  color: lightgreen;
  font-weight: bold;
}

.resume-heading {
  font-size: 1.8rem;
  margin: 2rem 0 1rem;
  color: lightgreen;
}

.resume-link {
  color: lightgreen;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}



.skills-heading {
  font-size: 1.8rem;
  margin: 2rem 0 1rem;
  color: lightgreen;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.skill-card {
  background-color: #1c1c1c;
  border: 1px solid #2e2e2e;
  border-radius: 12px;
  padding: 1rem;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
  background-color: #2a2a2a;
  box-shadow: 0 0 10px lightgreen;
}

.skill-card i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: lightgreen;
}
