/* .app-wrapper {
  overflow: hidden;
  height: 100vh;
} */

.main-content {
  overflow-y: auto;
  padding: 0px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .main-content {
    padding: 8px;
  }
}
